@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-regular.eot") format("embedded-opentype"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-regular.woff2") format("woff2"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-regular.woff") format("woff"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-regular.ttf") format("truetype"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-regular.svg") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-700.eot") format("embedded-opentype"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-700.woff2") format("woff2"), url("../font/montserrat-v15-latin/montserrat/montserrat-v15-latin-700.woff") format("woff"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-700.ttf") format("truetype"), url("../font/Montserrat/montserrat-v15-latin/montserrat-v15-latin-700.svg") format("svg");
  /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-300.eot") format("embedded-opentype"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-300.woff2") format("woff2"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-300.woff") format("woff"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-300.ttf") format("truetype"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-300.svg") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-regular.eot") format("embedded-opentype"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-regular.woff2") format("woff2"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-regular.woff") format("woff"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-regular.ttf") format("truetype"), url("../font/Roboto/roboto-v20-latin/roboto-v20-latin-regular.svg") format("svg");
  /* Legacy iOS */
}

/*розміри чек-поінтів*/
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 748px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    width: 940px;
  }
}

.section__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #444444;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 36px;
  }
  .section__title {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1140px) {
  .section__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 43px;
  }
}

header {
  max-width: 320px;
  margin: 0 auto;
  height: 540px;
  padding-top: 20px;
  background-color: rgba(128, 134, 143, 0.774);
  background-image: url(../img/mobile/Background-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 320px) {
  header {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  header {
    max-width: 768px;
    height: 700px;
    padding-top: 40px;
    background-image: url(../img/tablet/Background11-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  header {
    max-width: 1440px;
    background-image: url(../img/desktop/Background-min.jpg);
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .header__top {
    height: 36px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 148px;
  }
}

.header__top__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 97px;
}

.header__top__buttons_style {
  width: 90px;
  height: 36px;
  background-color: transparent;
  border: 1px solid transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.sign-in {
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
}

.header__top__logo {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin-bottom: 27px;
}

.header__top__title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .header__top__title {
    font-size: 52px;
    line-height: 63px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 40px;
  }
}

.header__top__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f7f3f2;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .header__top__text {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 33px;
  }
}

.header__top__mainButton {
  display: block;
  margin: 0 auto;
  background-color: #ff4e50;
  border: 1px solid transparent;
  border-radius: 40px;
  max-width: 280px;
  height: 40px;
  padding: 12px 47px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .header__top__mainButton {
    max-width: 225px;
    padding: 12px 17px;
  }
}

article {
  padding: 64px 20px 16px;
}

@media screen and (min-width: 768px) {
  article {
    padding: 200px 20px 16px;
  }
}

.section__dreamshareWorks {
  padding-top: 42px;
  padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .section__dreamshareWorks {
    padding-top: 57px;
    padding-bottom: 95px;
  }
  .section__dreamshareWorks .section__dreamshareWorks__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__dreamshareWorks .section__dreamshareWorks__list .section__dreamshareWorks__item {
    width: calc((100% - 2 * 20px) / 3);
  }
}

@media screen and (min-width: 1140px) {
  .section__dreamshareWorks {
    padding-top: 95px;
  }
}

.section__dreamshareWorks article {
  width: 100%;
  height: 100%;
  background-color: #538885;
  border-radius: 4px;
}

.section__dreamshareWorks .first-article {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section__dreamshareWorks .first-article {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Bitmap44-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Bitmap44-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section__dreamshareWorks .first-article {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Step1image3-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Step1image3-min.jpg);
  }
}

.section__dreamshareWorks .second-article {
  background-image: url(../img/mobile/Step1image1-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section__dreamshareWorks .second-article {
    background-image: url(../img/tablet/Step1image1-min.jpg);
    padding: 220px 20px 16px;
  }
}

@media screen and (min-width: 1140px) {
  .section__dreamshareWorks .second-article {
    background-image: url(../img/desktop/Step1image4-min.jpg);
    padding: 220px 20px 16px;
  }
}

.section__dreamshareWorks .third-article {
  background-image: url(../img/mobile/Step1image2-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section__dreamshareWorks .third-article {
    background-image: url(../img/tablet/Step1image2-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section__dreamshareWorks .third-article {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Bitmap5-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Bitmap5-min.jpg);
  }
}

.section__dreamshareWorks__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 20px;
  background: #ff4e50;
  border-radius: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 20px;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 40px;
}

.section__dreamshareWorks li:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .section__dreamshareWorks li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

.section__dreamshareWorks__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #ffffff;
  margin-bottom: 20px;
}

.section__dreamshareWorks__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #e3e3e3;
}

.section__meetPartner {
  padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .section__meetPartner {
    padding-bottom: 95px;
  }
  .section__meetPartner ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .section__meetPartner ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -10px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (min-width: 1140px) {
  .section__meetPartner ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.section__meetPartner li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .section__meetPartner li:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1139px) {
  .section__meetPartner li {
    width: calc((100% - 40px)/2);
    background-color: turquoise;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 1139px) {
  .section__meetPartner li {
    margin: 10px;
  }
}

@media screen and (min-width: 1140px) {
  .section__meetPartner li {
    width: calc((100% - 60px)/4);
    background-color: turquoise;
  }
}

.section__meetPartner__foto {
  margin-bottom: 17px;
}

.section__meetPartner__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #444444;
}

.section__meetPartner__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #666666;
}

.section__meetPartner__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  height: 40px;
  padding: 12px 64px;
  background: #FFFFFF;
  border: 2px solid #FF4E50;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
}

@media screen and (min-width: 768px) {
  .section__meetPartner__button {
    margin-top: 40px;
    max-width: 180px;
    padding: 5px 15px;
  }
}

.section-holidayActivity {
  padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity {
    padding-bottom: 95px;
  }
}

.section-holidayActivity .section__title {
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 20px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .section-holidayActivity__list li:nth-child(1) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .section-holidayActivity__list li:nth-child(2) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .section-holidayActivity__list li:nth-child(3) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  .section-holidayActivity__list li:nth-child(4) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .section-holidayActivity__list li:nth-child(5) {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .section-holidayActivity__list li:nth-child(6) {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
  .section-holidayActivity__list li:nth-child(7) {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
  }
}

.section-holidayActivity__item {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #a0bebb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item {
    height: 310px;
  }
}

@media screen and (max-width: 767px) {
  .section-holidayActivity li:not(:last-child) {
    margin-bottom: 10px;
  }
}

.section-holidayActivity__item.first {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Object-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Object-min.jpg);
  background-size: cover;
  background-position: center;
  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.first {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.first {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Bitmap6-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Bitmap6-min.jpg);
  }
}

.section-holidayActivity__item.second {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap3-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap3-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.second {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object1-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object1-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.second {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Object-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Object-min.jpg);
  }
}

.section-holidayActivity__item.third {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap5-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap5-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.third {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object2-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object2-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.third {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Object2-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Object2-min.jpg);
  }
}

.section-holidayActivity__item.fourth {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap6-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap6-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.fourth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object3-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object3-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.fourth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Object8-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Object8-min.jpg);
  }
}

.section-holidayActivity__item.fifth {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap7-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap7-min.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.fifth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object4-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object4-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.fifth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Object9-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Object9-min.jpg);
  }
}

.section-holidayActivity__item.sixth {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap8-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap8-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.sixth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object5-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object5-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.sixth {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Object10-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Object10-min.jpg);
  }
}

.section-holidayActivity__item.seventh {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/mobile/Bitmap9-min.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/mobile/Bitmap9-min.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .section-holidayActivity__item.seventh {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/tablet/Object6-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/tablet/Object6-min.jpg);
  }
}

@media screen and (min-width: 1140px) {
  .section-holidayActivity__item.seventh {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/desktop/Object11-min.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/desktop/Object11-min.jpg);
  }
}

.section-holidayActivity__item__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  color: #ffffff;
}

.section-form {
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-form {
    padding-bottom: 100px;
  }
}

.section-form__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #666666;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .section-form__text {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .section-form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .section-form__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 110px;
    padding-right: 110px;
  }
}

@media screen and (min-width: 1140px) {
  .section-form__flex {
    padding-left: 200px;
    padding-right: 200px;
  }
}

.section-form__email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 14px 50px 10px 15px;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}

@media screen and (max-width: 767px) {
  .section-form__email {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .section-form__email {
    margin-bottom: 0;
    width: 300px;
  }
}

.section-form__email::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  color: #999999;
}

.section-form__email:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  color: #999999;
}

.section-form__email::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  color: #999999;
}

.section-form__email::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #999999;
}

.section-form .header__top__mainButton {
  padding: 12px 76px 11px 77px;
}

@media screen and (max-width: 767px) {
  .section-form .header__top__mainButton {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .section-form .header__top__mainButton {
    margin: 0;
    width: 172px;
    padding: 12px 16px 11px 16px;
  }
}

footer {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #FF4E50;
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 35px;
    padding-bottom: 25px;
  }
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.footer__top__logo {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #FF4E50;
}

@media screen and (max-width: 767px) {
  .footer__top__logo {
    margin-bottom: 13px;
  }
}

footer h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #444444;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  footer h3 {
    text-align: start;
  }
}

.footer__nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

@media screen and (min-width: 768px) {
  .footer__nav__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  footer ul li:not(:last-child) {
    margin-right: 15px;
  }
}

footer ul li:nth-child(4) {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .footer__nav__menu {
    margin-bottom: 15px;
  }
}

.footer__copy__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__copy__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__copy__logo {
    margin-top: 15px;
  }
}

.footer__copy__logo p {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  color: #CCCCCC;
  margin-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */