body {
    font-family: 'Montserrat',
        sans-serif;
}

.container {
    width: 300px;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0 auto;
    // background-color: violet;

}

.section__title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;


    text-align: center;

    color: #444444;

    margin-bottom: 20px;
}