body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 300px;
    @include paddinLeftRight(15px, 15px);

    margin: 0 auto;
    // background-color: violet;

    @media screen and(min-width:$tablet) {
        width: 748px;
    }

    @media screen and(min-width:$desktop) {
        width: 940px;
    }
}

.section__title {
    @include mainFont(normal, bold, 22px, 27px);
    text-align: center;
    color: #444444;
    margin-bottom: 20px;

    @media screen and (min-width:$tablet) {
        & {
            margin-bottom: 36px;
        }

        margin-bottom: 36px;
    }

    @media screen and (min-width:$desktop) {
        & {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 43px;
        }
    }
}