@mixin padding($padding) {
    padding: $padding;
}

@mixin mainFont($style, $weight, $size, $height) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin grid($gridColStart, $gridColEnd, $gridRowStart, $gridRowEnd) {
    grid-column-start: $gridColStart;
    grid-column-end: $gridColEnd;
    grid-row-start: $gridRowStart;
    grid-row-end: $gridRowEnd;
}

@mixin paddinTopBottom($top, $bottom) {
    padding-top: $top;
    padding-bottom: $bottom;
}

@mixin paddinLeftRight($left, $right) {
    padding-left: $left;
    padding-right: $right;
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

%backgraundIMGstyle {
    background-size: cover;
    background-position: center;
}

%mainFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}