@mixin padding($padding) {
    padding: $padding;
}

%backgraundIMGstyle {
    background-size: cover;
    background-position: center;
}

%mainFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}